.AboutMe {
    background-color: #f3dcdc;
    padding-top: 10%;
    text-align: left;
    padding-left: 20%;
    min-height: 100vh
}

.aboutMeInfo {
    margin-top: 5%;
    text-align: center;
    text-align: justify;
    padding-right: 24%;
}

.aboutMeInfoColumn {
    padding-right: 24%;
    text-align: justify;
}

.titleH1 {
    margin-bottom: 2%;
}

.skillComponent {
    text-align: center;
}

#Skills {
    margin-bottom: 4%;
    margin-top: 10%;
}

.rowSeparation {
    margin-top: 4%;
}

.soft-skills {
    margin: 0 auto;
}

.lastRow {
    margin-top: 4%;
    padding-bottom: 10%;
}

.firstRow {
    margin-top: 4%;
    padding-top: 7%;
}

@media (max-width: 800px) {
    .my-image {
        display: flex;
        justify-content: center;
        margin-bottom: 4%;
    }
}

.soft-skills {
    display: table;
    /* Allow the centering to work */
    margin: 0 auto;
}

::marker {
    content: "»";
    /* font-size: 1.65em; */
    font-size: 1.2em;
    --hue: 0;
    color: hsl(var(--hue) 50% 50%);
}

li {
    padding-inline-start: 1ch;
    font-size: 1em;
}

ul li ul li::marker {
    --hue: 50;
}

ul li ul li ul li::marker {
    --hue: 100;
}


/* li:nth-child(2)::marker {
    --hue: 50;
    font-size: 2.5em;
}

li:nth-child(3)::marker {
    --hue: 100;
    font-size: 1.65em;
}

li:nth-child(4)::marker {
    --hue: 00;
    font-size: 1.5em;
} */