    th,
    td {
        padding-right: 20px;
    }
    
    a.otherButton {
        color: #ffffff;
    }
    
    a:visited {
        color: #ffffff;
    }
    
    .emailButton {
        cursor: pointer;
        /* background-color: #121825; */
    }
    /* .App {
    height: 100vh
} */
    /* 
.App {
    box-shadow: 5px 10px #888888;
} */
    
    .spanPrueba {
        margin-right: 5%;
        margin-top: 16%;
        padding-top: 10%;
    }
    
    .DownloadButton {
        text-decoration: none;
    }
    /* .otherButton {
        background-color: #121825; 
    } */